// bower:scss
// endbower

body {
    margin: 0 auto;
    background: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.header {
    width: 100%;
    height: 40px;
    background-color: #f3f3f3;
    border-bottom: 1px solid #e5e5e5;
    display: block;
}

.headercontent {
    width: 980px;
    height: 40px;
    margin-right: auto;
    margin-left: auto;
}
.cat {
    float: left;
    padding: 8px 10px 6px;  
    margin-left: -10px;
    margin-right: 5px;
}
.cat img {
    position: relative;
    width: 25px;
    height: 25px;
}

.dot {
    float: left;
    width: 42px;
    height: 100%;
    margin-right: 15px;
    text-align: center;
    line-height: 40px;
    padding-left: 1px;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}

.dot img {
    width: 13px;
    opacity: 0.8;

}
.navbar {
    margin: 0;
}

.navbar li1 {
    display: inline-block;
    list-style-type: none;
    font-size: 13px;
    font-weight: bold;
    position: relative;
    left: 235px;
    top: 11px;
}
.navbar li2 {
    display: inline-block;
    list-style-type: none;
    font-size: 13px;
    font-weight: bold;
    position: relative;
    left: 251px;
    top: 11px;
}
.navbar li3 {
    display: inline-block;
    list-style-type: none;
    font-size: 13px;
    font-weight: bold;
    position: relative;
    left: 267px;
    top: 11px;
}
.navbar li4 {
    display: inline-block;
    list-style-type: none;
    font-size: 13px;
    font-weight: bold;
    position: relative;
    left: 283px;
    top: 11px;
}
.rightnavbar img {
    height: 20px;
    width: 20px;
    margin: 0 auto;
    position: relative;
    float: right;
    bottom: 24px;
    right: 175px;
}
.rightnavbar p {
    float: right;
    font-size: 13px;
    font-weight: bold;
    margin: 0 auto;
    position: relative;
    right: 82px;
    bottom: 24px;
}
.plus img {
    float: right;
    position: relative;
    left: 10px;
    bottom: 20px;
}

.tools img {
    float: right;
    position: relative;
    left: 60px;
    bottom: 23px;
}

.door img {
    float: right;
    position: relative;
    left: 105px;
    bottom: 22px;
}

.container {
    width: 980px;
    height: 843px;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;

}

.leftbar {
    width: 25%;
    height: 943px;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}
.leftbar span1 {
    font-size: 11px;
    color: #aaa;
    position: relative;
    top: 14px;
    right: 68px;

}
.leftbar span2 {
    font-size: 11px;
    color: #aaa;
    float: right;
    position: relative;
    bottom: 27px;
    right: 19px;

}
.leftbar span3 {
    font-size: 11px;
    color: #aaa;
    float: right;
    position: relative;
    right: 62px;
    bottom: 27px;
}

.avatar  {
    height: 230px;
    width: 230px;
    border-radius: 6px;
}

.name {
    display: block;
    margin: 0;
    position: relative;
    top: 5px;
    overflow: hidden;
    width: 100%;
    font-size: 26px;
    font-weight: bolder;
    line-height: 30px;
    text-overflow: ellipsis;

}

.login {
    display: block;
    margin-bottom: 20px;
    position: relative;
    top: 4px;
    overflow: hidden;
    width: 100%;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    color: #666;
    text-overflow: ellipsis;
    
}
.company {
    width: 90%;
    padding: 2px 0 2px 24px;
    padding-top: 15px;
    display: block;
    overflow-x: hidden;
    font-size: 14px;
    text-overflow: ellipsis;
    position: relative;
    border-top: 1px solid #eee;
}
.location {
    width: 100%;
    padding: 2px 0 2px 24px;
    display: block;
    overflow-x: hidden;
    font-size: 14px;
    text-overflow: ellipsis;
    
}
.email {
    width: 100%;
    display: block;
    padding: 2px 0 2px 24px;
    color: #4183c4;
    font-size: 14px;
}
.created_at {
    width: 100%;
    display: block;
    padding: 2px 0 2px 24px;
    padding-bottom: 15px;
    font-size: 14px;
}

.rightbar {
    width: 70%;
    height: 950px;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

.moreinfo {
    width: 70%;
    height: 120px;
    margin-left: 30%;

}

.centerbar {
    height: 25px;
    font-size: 15px;
    margin: 0 0 15px;
    padding-left: 10px;
}

.centerbar li1 {
    font-size: 14px;
    margin-bottom: -1px;
    padding: 8px 12px 7px;
    border: 1px solid transparent;
    border-bottom: 1px solid #ddd;
    line-height: 20px;
    color: #666;
    position: relative;
    left: 4px;
}

.centerbar li2 {
    font-size: 14px;
    padding: 8px 12px 7px;
    line-height: 20px;
    color: #666;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-radius: 3px 3px 0 0;
}

.centerbar li3 {
    width: 100px;
    font-size: 14px;
    color: #666;
    padding: 8px 12px 7px;
    line-height: 20px;
    position: relative;
    border-bottom: 1px solid #ddd;
    right: 4px;
}

.reponames {
    color: #4183c4;
    font-size: 20px;
    font-weight: bold;
    list-style: none;
    min-height: 66px;
    position: relative;
    padding-left: 45px;
    border-bottom: 1px solid #eee;
    white-space: nowrap;
    top: -16px;
    
}
.stars {
    position: relative;
    float: right;
    height: 11px;
    right: 57px;
    bottom: 75px;
}
.forkimg {
    position: relative;
    float: right;
    height: 11px;
    right: 6px;
    bottom: 75px;
}


.updatedat {
    margin: 0;
    font-size: 11px;
    color: #999999;
    display: block;
    list-style: none;
    position: relative;
    bottom: 50px;
    left: 45px;

}

.language {
    list-style: none;
    font-size: 11px;
    font-weight: bold;
    color: #666;
    float: right;
    position: relative;
    bottom: 88px;
    right: 86px;
}

.stargazers {
    position: relative;
    left: 634px;
    bottom: 88px;
    font-size: 11px;
    font-weight: bold;
    float: right 100%;
}
    
.forkscount {
    position: relative;
    font-size: 11px;
    font-weight: bold;
    bottom: 101px;
    left: 98%;
}

.followers {
    
    padding-top: 20px;
    padding-bottom: 26px;
    display: inline-block;
    width: 33.333%;
    font-size: 28px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    color: #333;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.leftbar a {
    padding-top: 20px;
    padding-bottom: 26px;
    display: inline-block;
    width: 33.333%;
    font-size: 28px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    text-decoration: none;
    color: #333;
    position: relative;
    left: 81px;
    bottom: 76px;
}

.following {
   padding-top: 20px;
    padding-bottom: 26px;
    width: 33.333%;
    font-size: 28px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    border-top: 1px solid #eee;
    float: right;
    color: #333;
    border-bottom: 1px solid #eee;
    position: relative;
}
    
    


